/*  Hei Yee Shane S10241966
    CSS semantics and such
    ALSO KNOWN AS PAIN AND SUFFERING */

    :root{
        --background-color:rgb(1, 5, 11);
        --bottom-border: rgb(255, 255, 255, 0.2);
        --nav-stasis: #B2B2B2;
        --nav-active: #FFFFFF;
        --nav-border: #000000;
        --discord: 	#7289DA;
        --twitter: #1DA1F2;
        --youtube: #FF0000;
        --button: #318CE7;
    }

    body{
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0px;
        margin: 0;
    }


   nav{
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--bottom-border);
    background-color: var(--nav-border);
   }

   nav > .nav-section{
    padding: 1rem 3rem;
    display: flex;
    gap: 20px;
    border-left: 1px solid var(--bottom-border); 
    align-items: center;
   }

   .logo-container{
    width: 200px;
    height: auto;
    display: block;
   }

   #nav-logo{
    flex-basis: 60%;
   }

   #nav-social{
    flex-grow: 1;
    align-content: center;
    justify-content: space-around;
   }

   #nav-title{
    flex-grow: 1;
    justify-content: space-evenly;
   }

   *{
    box-sizing: border-box;
   }

   a,b,c,d{
    text-decoration: none;
    font-size: 15px;
    color: var(--nav-stasis);
    transition: 0.4s;
    font-family: 'Quicksand', sans-serif;
   }

   h1{
    font-size: 50px;
    text-decoration: none;
    color: var(--nav-active);
    font-family: 'Varela Round', sans-serif;
    text-align: center;
   }

   p{
    text-decoration: none;
    color: var(--nav-active);
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    text-align: center;
   }

   .nav-section logo{
    display: flex;
    flex-direction: column;
    flex: 1 21%;
    }

   #nav-title a:hover, #nav-title a:focus{
    color: var(--nav-active);
   }

   .discord:hover, .discord:focus{
    color: var(--discord);
   }

   .twitter:hover, .twitter:focus{
    color: var(--twitter);
   }

   .youtube:hover, .youtube:focus{
    color: var(--youtube);
   }

   .main-bg{
    display: flex;
    flex-grow: 1;
	flex-basis: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    max-width: 100%;
    }

    html { 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }


    .container{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    }

    .centered {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-position: center;
      }

    .not-centered{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-position: center;
    }

    .FadeInUp{
        -webkit-animation: fadeInUp 1.2s both;
        -o-animation: fadeInUp 1.2s both;
        -moz-animation: fadeInUp 1.2s both;
        animation: fadeInUp 1.2s both;
    }

    @-webkit-keyframes fadeInUp{
        0%{
            opacity: 0;
            -webkit-transform: translateY(50px);
        }
        100%{
            opacity: 1;
            -webkit-transform: translateY(0);
        }

    }
    @-o-keyframes fadeInUp{
        0%{
            opacity: 0;
            -o-transform: translateY(50px);
        }
        100%{
            opacity: 1;
            -o-transform: translateY(0);
        }
    }
    @-moz-keyframes fadeInUp{
        0%{
            opacity: 0;
            -moz-transform: translateY(50px);
        }
        100%{
            opacity: 1;
            -moz-transform: translateY(0);
        }
    }
    @keyframes fadeInUp{
        0%{
            opacity: 0;
            transform: translateY(50px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
   
    .button{
        text-decoration: none;
        background-color: var(--button);
        border: none;
        text-align: center;
        padding: 20px 40px;
        display: inline block;
        margin: 4px 2px;
        font-size: 25px;
        color: white;
        border-radius: 40px;
    }

    .highlight{
        color: #FF0000;
    }




