/*  Hei Yee Shane S10241966
    CSS semantics and such */

    :root{
        --background-color:rgb(1, 5, 11);
        --bottom-border: rgb(255, 255, 255, 0.2);
        --nav-stasis: #B2B2B2;
        --nav-active: #FFFFFF;
        --nav-border: #000000;
        --discord: 	#7289DA;
        --twitter: #1DA1F2;
        --youtube: #FF0000;
    }

    body{
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0px;
        overflow: hidden;
    }

   nav{
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--bottom-border);
    background-color: var(--nav-border);
   }

   nav > .nav-section{
    padding: 1rem 3rem;
    display: flex;
    gap: 20px;
    border-left: 1px solid var(--bottom-border); 
    align-items: center;
   }

   .logo-container{
    width: 200px;
    height: auto;
    display: block;
   }

   #nav-logo{
    flex-basis: 60%;
   }

   #nav-social{
    flex-grow: 1;
    align-content: center;
    justify-content: space-around;
   }

   #nav-title{
    flex-grow: 1;
    justify-content: space-evenly;
   }

   *{
    box-sizing: border-box;
   }

   p,h1,h2,h3,h4,h5,h6,a,b,c,d{
    text-decoration: none;
    font-size: 15px;
    color: var(--nav-stasis);
    transition: 0.4s;
    font-family: 'Quicksand', sans-serif;
   }

   .nav-section logo{
    display: flex;
    flex-direction: column;
    flex: 1 21%;
}

   #nav-title a:hover, #nav-title a:focus{
    color: var(--nav-active);
   }

   .discord:hover, .discord:focus{
    color: var(--discord);
   }

   .twitter:hover, .twitter:focus{
    color: var(--twitter);
   }

   .youtube:hover, .youtube:focus{
    color: var(--youtube);
   }


